<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Restaurant | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="/static/uploads/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/slicknav.css">
    <link rel="stylesheet" href="/static/uploads/assets/css/flaticon.css">
    <link rel="stylesheet" href="/static/uploads/css/gijgo.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/animate.min.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/slick.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/nice-select.css">
	<link rel="stylesheet" href="/static/uploads/assets/css/style.css">
</head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/uploads/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area header-transparent">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="/"><img src="/static/uploads/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <div class="menu-main d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav> 
                                            <ul id="navigation">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/login">Login</a></li>
                                                <li><a href="/rest_register">New Restaurant</a></li>
                                               <!--  <li><a href="blog.html">Blog</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">Blog</a></li>
                                                        <li><a href="blog_details.html">Blog Details</a></li>
                                                        <li><a href="elements.html">Element</a></li>
                                                    </ul>
                                                </li> -->
                                                <!-- <li><a href="contact.html">Contact</a></li> -->
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="header-right-btn f-right d-none d-lg-block ml-20">
                                        <!-- <a href="contact.html" class="border-btn header-btn">Order Online</a> -->
                                    </div>
                                </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                               <!--  <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".2s">Discover Your Teste</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">We belive good food offer great smile</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                                 
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Resurvation</a>
                                    </div>
                                </div> -->
                       
                <!-- Single Slider -->
                <!-- div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".2s">Discover Your Teste</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">We belive good food offer great smile</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat is aute irure.</p>
                                   
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Resurvation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
          


	<center>
		<form method="post">
			<h1><b>Restaurant Registration<b></h1>
			<br>
			<table class="table" style="width: 500px">
			<tr>
				<th>Name</th>
				<td><input type="text" name="name" class="form-control" required oninvalid="this.setCustomValidity('Please Enter Restaurant Name')" oninput="setCustomValidity('')"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" name="place" class="form-control" required oninvalid="this.setCustomValidity('Please Enter Place')" oninput="setCustomValidity('')"></td>
			</tr>
			<tr>
				<th>Landmark</th>
				<td><input type="text" name="lmark" class="form-control" required oninvalid="this.setCustomValidity('Please Enter Landmark')" oninput="setCustomValidity('')"></td>
			</tr>
			<tr>
				<th>Street</th>
				<td><input type="text" name="street" class="form-control" required oninvalid="this.setCustomValidity('Please Enter street')" oninput="setCustomValidity('')"></td>
			</tr>
			<tr>
				<th>Pincode</th>
				<td><input type="text" name="pin" class="form-control" required pattern="[0-9]{6}" oninvalid="this.setCustomValidity('Please Enter valid pincode')" oninput="setCustomValidity('')"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" name="phone" class="form-control" required pattern="[0-9]{10}" oninvalid="this.setCustomValidity('Please Enter valid phone number')" oninput="setCustomValidity('')" maxlength="10"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email" name="email" class="form-control" required oninvalid="this.setCustomValidity('Please Enter valid email')" oninput="setCustomValidity('')"></td>
			</tr>
			<tr>
				<th>Username</th>
				<td><input type="text" name="uname" class="form-control" required oninvalid="this.setCustomValidity('Please Enter Username')" oninput="setCustomValidity('')"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="text" name="pwd" class="form-control" required oninvalid="this.setCustomValidity('Please Enter valid password')" oninput="setCustomValidity('')"></td>
			</tr>
			<tr>
				
				<td colspan="2" align="center"><input type="submit" name="submit" value="Register" class="btn btn-success"></td>
			</tr>
		</table>
		</form>
	</center>
{% include "footer.html" %}